---
name: Check generated files
on:
  workflow_call:
    inputs:
      folder:
        description: optional folder name to check diff
        type: string
        default: ""
        required: false
jobs:
  gogenerate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.20.12
      - run: go generate ./...
      - name: Check for changes
        run: |
          git diff --name-only --exit-code ${{ inputs.folder }} || ( echo "Rerun go generate ./... locally and resubmit" && false )
