---
name: Check generated files
on:
  workflow_call:
jobs:
  gogenerate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23.1
      - run: go generate ./...
      - name: Check for changes
        run: |
          git diff --name-only --exit-code || ( echo "Rerun go generate ./... locally and resubmit" && false )
